<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="home-section" >
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="home-section">
            <img ng-src="/img/hangman.jpg" alt="" />
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-full button-stable" type="button" name="button" ui-sref="tab.game">Alone </button>
        </div>
        <div class="col"></div>
        <div class="col">
          <button class="button button-full button-light" type="button" name="button">Remote </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
